APP_ENV=development
API_BASE_URL=http://127.0.0.1:8787
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8787

# For pre-release / integration testing
# APP_ENV=test
# API_BASE_URL=https://test-api.example.com
# NEXT_PUBLIC_APP_ENV=test
# NEXT_PUBLIC_API_BASE_URL=https://test-api.example.com

# For production
# APP_ENV=production
# API_BASE_URL=https://api.example.com
# NEXT_PUBLIC_APP_ENV=production
# NEXT_PUBLIC_API_BASE_URL=https://api.example.com
